body {
  text-align: center;
  font-family: helvetica;
}
h1,
h2,
h3 {
  font-weight: bold;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 32px;
}
h3, h4 {
  font-size: 23px;
}
h4 {
  color: white;
}

ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}
.flatiron, .new-york {
  background-image: url("../images/building.png");
  color: white;
  background-repeat: no-repeat;
}
.menu {
  font-size: 18px;
  color: white;
}
.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
.btn-nav {
  color: white;
  font-size: 18px;
}
